@font-face {
    font-family: 'GothamUltra';
    src: url('fonts/gotham-ultra.eot');
    src: url('fonts/gotham-ultra.eot') format('embedded-opentype'),
         url('fonts/gotham-ultra.woff') format('woff'),
         url('fonts/gotham-ultra.ttf') format('truetype'),
         url('fonts/gotham-ultra.svg#GothamUltra') format('svg');
}
